@font-face {
  font-family: 'Avenir Next Cyr Thin';
  src: url('~@/assets/fonts/AvenirNextCyr-Thin.eot');
  src: url('~@/assets/fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/AvenirNextCyr-Thin.woff') format('woff'),
  url('~@/assets/fonts/AvenirNextCyr-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('~@/assets/fonts/AvenirNextCyr-Thin.eot');
  src: url('~@/assets/fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/AvenirNextCyr-Thin.woff') format('woff'),
  url('~@/assets/fonts/AvenirNextCyr-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}