@mixin buttonWhite($width) {
  width: $width;
  margin: 0;
  border: solid 2px #0056d3;
  border-radius: 0;
  font-weight: 400;
  color: #000000;
}
@mixin buttonColor($width, $backgroundColor, $color){
  width: $width;
  border: solid 2px $backgroundColor;
  background-color: $backgroundColor;
  color: $color;
  margin: 0;
  border-radius: 0;
  font-weight: 600;
  font-size: 1rem;
}

@mixin textTitle($fontSize, $lineHeight, $fontWeight, $color){
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
	color: $color;
	text-align: center;
	font-family: 'Noto Sans',Arial,sans-serif;
}

@mixin textSubtitle($fontSize, $lineHeight, $fontWeight, $color){
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
	color: $color;
	display: block;
	margin: auto;
	text-align: center;
	/*font-family: 'Noto Sans',Arial,sans-serif;*/
}